body{font-size:14px;font-family:arial,verdana,sans-serif;background-color:#F3F3F3 !important;width:100%;margin:0 auto}
a:after{content:"" !important}
.ferie{background-color:#c0392b !important}
.vacance{background-color:rgba(46,204,113,.5) !important}
p{font-size:10pt;font-family:arial,sans-serif;/*background-color:#f3f3f3*/}
input,submit,textarea{color:#000;font-size:11pt;font-family:arial,sans-serif}
form{margin-bottom:5pt;margin-top:5pt}
.formModifie{margin-bottom:0;margin-top:0;display:inline}
.styleBoutton{color:#000}
.EditEntryTable{background-color:#ddd}
.small{font-size:.8em}
.larger{font-size:1.4em}
a:link,a:visited{color:#000;font-weight:700;text-decoration:none}
a:hover{color:#FFF}
h1{color:#000;font-family:verdana,sans-serif;font-size:16pt}
h2{color:#000;font-family:verdana,sans-serif;font-size:14pt}
h3{color:#000;font-family:verdana,sans-serif;font-size:12pt}
td{font-size:10pt;font-family:arial,sans-serif;border-width:1px;vertical-align:top}
td.CR{vertical-align:middle;text-align:right}
td.CL{vertical-align:middle;text-align:left}
td.BR{vertical-align:baseline;text-align:right}
td.BL{vertical-align:baseline;text-align:left}
td.TR{vertical-align:top;text-align:right}
td.TL{vertical-align:top;text-align:left}
table.table-striped th{background-color:gray !important; border:0px !important;}
.fontcolor1{color:#fff}
.fontcolor2,.fontcolor3{color:#9CF}
.fontcolor4{color:#FFF}
#header{border:0;position:relative;width:100%}
#menu1{border:0;width:100%}
.image{border:0;vertical-align:middle}
/*.logo{width:.1%;height:.1%}
.logo img{margin-top:20px;margin-left:20px;max-height:135px;}*/
.accueil{background-color:#F3F3F3;padding-left:1%; width:32%;}
.accueil a{color:#4B4B4B;}
.accueil a:hover, a:focus {color: #209FD6;text-decoration: underline;}
.administration{background-color:#F3F3F3;width:20%;text-align:center;margin:0 auto}
.configuration{background-color:#F3F3F3;width:20%;text-align:center;margin:0 auto}
.contactformulaire{background-color:#F3F3F3;width:20%;vertical-align:middle;text-align:center}
#menuGauche{background-color:#F3F3F3;float:left;height:100%;/*min-width:200px;*/width:100%;padding: 0px 4px 15px 4px;}
#menuGaucheMonthAll2{display:none;background-color:#F3F3F3;float:left;height:100%;min-width:200px;width:300px;padding: 0px 4px 15px 4px;}
.cellcalendar_current_day{color:#FFF;background-color:#4B4B4B !important;}
.cal_current_day{color:#FFF;background-color:#4B4B4B;vertical-align:middle;text-align:center;line-height:30px}
.week td a{background-color:#8b8b8b;vertical-align:middle;text-align:center;height:100%;width:100%}
.week{background-color:#4B4B4B;}
.table-header{width:100%}
.table-noborder{width:100%;border:0px !important;margin-bottom: 1px;}
.table-bordered{border-collapse:collapse;border-spacing:0;width:100%}
table.calendar{text-align:center;width:99%;padding:1px;margin:auto;background-color:#fff}
.calendar caption{background-color:#F3F3F3}
.dayBouton{width:80px}
.dayBoutonJourApres{width:125px}
a.calendar{display:block;color:#000;height:100%;width:100%;vertical-align:middle;text-align:center}
a.calendar:hover,a.calendar:active{background-color:#4B4B4B;color:#fff;}
.calendarcol1{padding:0;font-weight:700;background-color:#808080;color:#fff;text-align:center;height:30px;width:40px;line-height:30px}
.lienSemaine a{height:100%;width:100%;display:block;vertical-align:middle;text-align:center;color:#000}
.titre{color:#fff;text-align:center}
.cellcalendar{background:#F3F3F3;vertical-align:middle;text-align:center;height:30px;width:40px;line-height:30px}
.cellcalendar a:hover{background-color:#4B4B4B;color:#fff !important;}
a.lienPlanning:link,a.lienPlanning:visited{color:#fff;display:block}
a.lienPlanning:hover{display:block ;color:#4B4B4B;}
span a{color:#FFF}
.left{float:left}
.right{float:right}
#chargement{left:35%;top:322px;position:absolute;display:none;z-index:10}
#chargement p{padding:0;background-color:gray}
#chargement img{border:2px solid #000}
.ressource{text-align:center}
.item:hover{cursor:pointer}
b,strong{color:#000;text-align:center}
#liste_select{color:#4B4B4B;font-weight:700}
#liste{color:#656565}
table.legende{border: 2px solid #FFFFFF;/*margin-left:25px;width:250px*/}
table.legende td{text-align:center}
table.legende caption{color:#000;}
.pied_menuGauche{border-top:3px solid #4B4B4B}
th{color:#eee;font-size:10pt;font-family:verdana,sans-serif;background-color:#4B4B4B !important;vertical-align:top;text-align:center !important;border:none !important}
th > b{color:#fff !important;}
td.cell_hours{color:#fff;background-color:gray !important;text-align:center;font-size:13px;height:20px;line-height:20px;border: none !important}
td.cell_hours2{color:#000;background-color:#ccc !important;text-align:center;font-size:13px;height:20px;line-height:20px;border: none !important}
td.cell_hours a{color:#fff}
td.cell_month{background-color:#fff;vertical-align:top}
.cell_month a{color:#000;font-weight:400;text-align:center}
.cell_month a:hover{color:#000;font-weight:700}
td.cell_month_o{background-color:#ccc}
.empty_cell{background-color:#fff;text-align:center;vertical-align:middle}
.monthday{font-size:2.1em;text-align:center;height:50px;line-height:50px}
.center{width:100%;margin-left:auto;margin-right:auto;text-align:center}
.avertissement{background-color:#ff8585;text-align:center}
.avertissement a:hover {color: black !important;}
td.calendar2{text-align:center;border:2px;font-size:8pt}
td.calendarHeader2{text-align:center;border:0;font-size:10pt;width:200px;background-color:#4B4B4B;color:#FFF;font-weight:bold;font-size:18px;}
.formo{width:100%;background-color:#fff0e0;background-position:center bottom;float:none;color:#000}
.fondo{background-color:#fff0e0;background-position:center bottom;float:none;color:#000}
.fondl{background-color:#CCC;background-position:center bottom;float:none;color:#000}
#colgauche fieldset{border:1px solid #000;margin:10px;padding:10px}
#colgauche fieldset legend{color:#000;margin-bottom:5px}
#colgauche fieldset ul{margin:0;padding-bottom:0;padding-top:0;padding-left:10px}
#colgauche fieldset ul li{list-style-type:disc}
td.colgauche_admin{width:20%}
td.coldroite_admin{background-color:#fff;padding:10px;}
div.tooltip{color:#000;background:#ffb200;margin:5px;padding:5px}
#planning{position:relative;background-color:#4B4B4B;height:100%;width:auto;-webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);}
#print_planning{position:relative;background-color:#4B4B4B;height:100%;width:auto}
#planningMonthAll2{margin-left:0}
.titre_planning{position:relative;background-color:#4B4B4B;height:100%;color:#000;text-align:center;font-size:1.2em}
.titre_planning table{border:0}
.titre_planning_week{background-color:#4B4B4B;height:100%;color:#000;text-align:center;font-size:1.2em}

.contenu_planning{position:relative;background-color:#4B4B4B;height:100%;max-width:100%;overflow:auto;}
.contenu_planning a{display:block}
.contenu_planning table th{border-right:1px solid dimgray !important;}
.contenu_planning_scroll{max-width: 100%;overflow:auto;height: 18px;}
.div_scroll_top{height: 18px;}

a.lienCellule{color:#000;font-weight:400;display:block}
a:hover.lienCellule{color:#000;font-weight:700;display:block}
.small_planning{font-size:.9em}
.texte_ress_tempo_indispo{color:#ba2828;font-weight:700}
.texte_ress_moderee{color:#ba2828;font-weight:700;margin-left:70px}
th.tableau_month2{padding:2px}
#lienPrecedent a{text-align:left;font-size:20px}
.tableau_month_all2{font-size:.8em}
#fade{display:none;background:#000;position:fixed;left:0;top:0;width:100%;height:100%;opacity:.8;z-index:9999}
a.poplight{display:block;color:#000;font-weight:400;font-size:14px;height:100%;width:100%;vertical-align:middle;text-align:center;cursor:pointer}
.popup_block{display:none;background:#fff;padding-left:20px!important;border:10px solid #ddd;float:left;font-size:1.2em;position:fixed;top:10%;left:50%;z-index:99999;-webkit-box-shadow:0 0 20px #000;-moz-box-shadow:0 0 20px #000;box-shadow:0 0 20px #000}
img.btn_close{position:relative;z-index:5;border:0;float:right;}
html #fade,html .popup_block{position:absolute}
#toTop{width:100px;border:1px solid #ccc;background:#f7f7f7;text-align:center;padding:5px;position:fixed;bottom:10px;right:10px;cursor:pointer;color:#333;font-family:'Roboto Condensed';font-size:14px}
#toBot{width:100px;border:1px solid #ccc;background:#f7f7f7;text-align:center;padding:5px;position:fixed;bottom:10px;left:10px;cursor:pointer;color:#333;font-family:'Roboto Condensed';font-size:14px}
#toBot b{color:#000}
#toTop b{color:#000}
a.buttonsReservation{cursor:pointer}
.glyphcolor{color:#FFF}
.glyphalign{margin-left:70px}
.btn-group-lg>.btn,.btn-lg,form.ressource div.panel-body{padding:0 !important}
.jour_sem{width:10% !important}
.ui-spinner-input{margin:0 !important}
.glyphicon-plus{color:#4B4B4B}
.clock{margin:0 auto}
#Date{font-size:1em;text-align:center;font-weight:700}
.clock ul{margin:0 auto;padding:0;list-style:none;text-align:center;font-weight:700}
.clock ul li{display:inline;font-size:1em;text-align:center;font-weight:700}


.closepop{float:right;cursor:pointer}

#toppanel{position:relative;top:0;width:100%;z-index:999;text-align:center;border-bottom:1px solid #F3F3F3}
#panel{width:100%;height:150px;overflow:hidden;position:relative;z-index:3}
#panel a{text-decoration:none}
.pad-15,.pad-15 tboby{padding-left:15px !important}
/*#fixe{position:fixed;right:5%;bottom:5%}*/
#fixe{padding-top:.5em}
.small a{color:#000 !important}
.col a{color:#000 !important}
.col span a{color:#000 !important}
#formContact{margin-left : 18%; margin-top : 1%; width: 60%;  border :20px; }

#formContactIdentite{float : left; margin-left:20% ; width:25%}
#formContactadresse{float : left; margin-left :5%; width: 32%;}
#formContactDomRoom{}
#formContactdom{float : left; margin-left:20% ; width: 25%;}
#formContactroom{float : left; margin-left:5% ;margin-bottom:5%;width: 32%;}
#formContacthorraires{margin-top:2%; margin-left:14% ; width: 70%}
#formContactheure{margin-left:20% ; width: 70% ; margin-top:4%;}
#duree{width: 55% ; margin-top:4%;display:inline!important;}
#planning{text-align:center}
#dureemin{width: 30% ;display:inline!important;}
#heure {width: 25%}

.color-glyphicon{color: #4B4B4B;}
.glyphicon-accueil{font-size:20px;color:#656565;}
.glyphicon-accueil:hover{color:#4B4B4B;}

.chevronCollapse{float: right;color: gray;font-size: 10px;}
.titreAdmin{color:#4B4B4B;margin-top:20px;font-weight:bold;font-size: 100%;}
.table_adm4{width:100%;}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff !important;
    background-color: #888888 !important;
}
.nav > li > a {padding: 4px 15px !important;}
.paddingLR5{padding:0px 5px 0px 5px;}

a:hover, a:focus {color: #4B4B4B !important;}
.contenu_planning a:hover, .contenu_planning a:focus {color: #000 !important;}

.btn-lien{color:#fff !important;}
.btn-lien:hover{color:#fff !important;}
#colgauche > .well{border:none;box-shadow: unset;}

/*Changé pour une meilleure intégration du message d'accueil
CD - 20170515
css de départ :
#message-accueil{float: left;padding: 8px 4px;}
css de remplacement :*/
.containerGrr #message-accueil * {max-width: 100%;}
/*Fin du changement */
.popover{max-width:90% !important;}

.table-rapport th a{
	color:white !important;
}
.table-rapport th a:hover{
	color:white !important;
}

.legende-bas{display:none;}


.marginB5{margin-bottom:5px !important;}
.lienModal{cursor:pointer;font-size: 14px;vertical-align: middle;text-align: center;color:#000;}

.blocBlanc{
	background-color:white;
	-webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
}


.titre_planning .titre button{
	color:white;
}
.titre_planning_week .titre button{
	color:white;
}

.boutons {
	text-align:right;
	margin-top:15px;
}


/* rajout glyphicon */
.glyphicon-option-horizontal:before {
  content: "\e234";
}
.glyphicon-option-vertical:before {
  content: "\e235";
}



/* Nouvelle entete atos */

.logo{float: left;height: 50px;}
.logo img{height:50px;}

.listEtablissement{
	font-weight:bold;
	float: left;
	height: 50px;
	padding: 12px 4px;
	font-size: 18px;
	line-height: 20px;
/* Supprimé - CD 20170309	width:25%*/
}

.messageAccueil{
	float: left;
	height: 50px;
	padding: 12px 4px;
	font-size: 15px;
	line-height: 20px;
}

.drapeaux{
	padding: 4px 11px !important;
	line-height: 25px !important;
}

.drapeaux  a{
	padding-left:5px;
}

.navbar-nav .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.navbar-default {
    background-color: #F3F3F3 !important;
	border-color: #f3f3f3 !important;
    border-bottom: #e7e7e7 solid 1px !important;
}

.navbar-brand{
	color: #4B4B4B !important;
	font-size: 24px !important;
}

.navbar-header {
    float: none !important;
	width: 100% !important;
}

.navbar-toggle {
    display: block !important;
}

.navbarcollapse.collapse {
    display: none !important;
}

.navbarcollapse.collapse.in {
    display: block !important;
  	overflow-y: auto !important;
	border-bottom:2px solid #4B4B4B !important;
}

.navbar-nav {
    margin: 0 !important;
    float: none !important; 
}

.navbar-nav li {
	float: none !important;
}

.navbar-toggle .icon-bar {
    width: 3px !important;
    height: 3px !important;
}

.navbar-default .navbar-toggle {
    border-color: #f3f3f3 !important;
}

.navbar-static-top {
	position:absolute !important;
	width:100% !important;
	margin:0;
}

.testnavbar + div {
	margin-top:68px !important;
}

.containerGrr{
	padding-top:60px;
}

/* fin nouvelle entete */

.colPadding{
    padding: 10px 15px 10px 15px !important;
}

.lienPlanningMobile{
	display:none !important;
}

.loader {
	position : fixed;
	z-index: 9999;
	background : url('../../../images/loading.gif') 50% 50% no-repeat;
	background-color:#EEEEEE;
	top : 0px;
	left : 0px;
	height : 100%;
	width : 100%;
	cursor : wait;
	opacity:0.4;
}


/* Ajout CD - 20170309 */
.container-fluid.containerGrr {padding-left:0;padding-right:0;}
.containerGrr .form-control{padding:6px 0;}
.containerGrr h3{font-size: 18px;font-weight: 700;}
.containerGrr h2{font-size: 20px;font-weight: 700;}
.containerGrr td{vertical-align:middle;padding:1px 0;} /*voir s'il ne faut pas le mettre pour tous les forms et non seulement pour la form "gestion de mon compte"*/
td.coldroite_admin{vertical-align:top;}   /* à fusionner avec ligne 101 si OK */
td.colgauche_admin{vertical-align:top;padding:10px 0;}   /* à fusionner avec ligne 101 si OK */
.week td {padding:0;}
.navbar-header{background-color:#ffffff;}  /* à fusionner avec ligne 287 si OK */ 
.navbar .navbar-header .navbar-toggle{border: none;} /* à fusionner avec ligne 292 si OK et si possible */ 
.navbar .navbar-header .navbar-toggle:focus{background-color:inherit;} /* à fusionner avec autres attributs si OK et si possible */ 
.containerGrr .titre_planningDate{display:inline-flex;}
.containerGrr .titre_planningDate .btn-link{color:#ffffff;}
.containerGrr .titre_planningRessource{color:#ffffff;}
/* Fin ajouts CD

/* Police Roboto */
body, button{font-family:"Roboto" !important}
div,section,a,p,span,table,th,td{font-family: 'Roboto Condensed' ;
  font-style: normal;
  font-weight: normal!important}
h1,h2,h3,h4,h5>a{font-family:"Roboto Slab" !important}


/* GESTION RESPONSIVE */

/*@media only screen and (min-width:1200px) { 
	#fixe{position:fixed;right:14%;bottom:5%}
}*/


@media only screen and (max-width:992px) { 
	/*.menuAdmin{display:none !important;} /* Suppression menu admin quand on passe en responsive */
	.legende-mg{display:none !important;} /* on cache la legende dans le menu de gauche */
	.legende-bas{display:block !important;} /* on affiche la legende sous le planning */
	.lienPlanningMobile{display:block !important;}
	.lienPlanningDesktop{display:none !important;}
}

@media only screen and (max-width:800px) { 
	.menuAdmin{display:none !important;} /* Suppression menu admin quand on passe en responsive */
	.accueil {display:none;}
	#element{
		left:0px;
		display:none;
	}
	.popup_block{
		width:100%!important;
		margin-left:0px!important;
		left:0px!important;
		margin-top:0px!important;
		top:0px!important;
		}
	#popup_name{
	left:0px;
	FLOAT:LEFT;
	}
	.listEtablissement{width:66%}
	.navbar-right{float:right!important;}
/*Ajouté CD - 20170309 : */
	.containerGrr .titre, .containerGrr .titre_planningRessource{font-size:95%;}
	.containerGrr >h2{font-size:18px;}
	.containerGrr .titre_planning .titre_planningDate .glyphicon-refresh{display:none;}
}
