/* Feuille de style du thème Agricole (VERT)

- Couleur principale : #6FAB22 (vert)
- Couleur secondaire : #68a020 (legerement plus foncé)

*/

.accueil a{color:#6FAB22;}
.accueil a:hover, a:focus {color: #68a020;}

.cal_current_day{color:#FFF;background-color:#6FAB22;}
.cellcalendar_current_day{color:#FFF;background-color:#6FAB22 !important;}

.cellcalendar a:hover{background-color:#6FAB22;color:#fff !important;}
a.lienPlanning:hover{color:#6FAB22;}

#liste_select{color:#6FAB22;}

.pied_menuGauche{border-top:3px solid #6FAB22}
th{color:#eee;background-color:#6FAB22 !important;}

td.calendarHeader2{background-color:#6FAB22;color:#FFF;}

#planning{background-color:#6FAB22;}
#print_planning{background-color:#6FAB22;}

.titre_planning{background-color:#6FAB22;color:#000;}
.titre_planning_week{background-color:#6FAB22;color:#000;}
.contenu_planning{background-color:#6FAB22;}
.glyphicon-plus{color:#6FAB22}
.color-glyphicon{color: #6FAB22;}
.glyphicon-accueil:hover{color:#6FAB22;}
.titreAdmin{color:#6FAB22;}
a:hover, a:focus {color: #6FAB22 !important;}

/* Nouvelle entete atos */
.navbar-brand{color: #6FAB22 !important;}

.navbarcollapse.collapse.in {border-bottom:2px solid #6FAB22 !important;}

/* Ajouts CD - 20170314 */
.week .cellcalendar_current_day a {background-color: #6FAB22;}
