/* Feuille de style du thème Netocentre (BLEU)

- Couleur principale : #25B2F3 (bleu ciel)
- Couleur secondaire : #209FD6 (legerement plus foncé)

*/

.accueil a{color:#25B2F3;}
.accueil a:hover, a:focus {color: #209FD6;}
.cellcalendar_current_day{background-color:#25B2F3 !important;}
.cal_current_day{color:#FFF;background-color:#25B2F3;}
/* Supprimé CD - 20170314 : .week{background-color:#25B2F3;} */
a.calendar:hover,a.calendar:active{background-color:#25B2F3;color:#fff;}
.cellcalendar a:hover{background-color:#25B2F3;color:#fff !important;}
a.lienPlanning:hover{color:#25B2F3;}
#liste_select{color:#25B2F3;}
.pied_menuGauche{border-top:3px solid #25B2F3}
th{color:#eee;background-color:#25B2F3 !important;}

td.calendarHeader2{background-color:#25B2F3;color:#FFF;}
#planning{background-color:#25B2F3;}
#print_planning{background-color:#25B2F3;}

.titre_planning{background-color:#25B2F3;}
.titre_planning_week{background-color:#25B2F3;color:#000;}
.contenu_planning{background-color:#25B2F3;}

.glyphicon-plus{color:#25B2F3;}
.color-glyphicon{color: #25B2F3;}
.glyphicon-accueil:hover{color:#25B2F3;}

.titreAdmin{color:#25B2F3;}

a:hover, a:focus {color: #25B2F3 !important;}

/* Nouvelle entete atos */
.navbar-brand{color: #25B2F3 !important;}

.navbarcollapse.collapse.in {border-bottom:2px solid #25B2F3 !important;}

/* Ajouts CD - 20170314 */
.week .cellcalendar_current_day a {background-color: #25b2f3;}
